# Project files
*~
.DS_Store
build
DerivedData
xcuserdata
*.xcworkspace
*.xcuserdatad

# Prevent to accidentally add IDA SDK
idasdk/*
hexrays_sdk/*
idasdk*.zip

# Windows project files
*.VC.db
*.VC.opendb
*.lib
*.exp
*.pdb
*.vs
